ghost/master/yaya_variable.cfg
ghost/master/profile/*
shell/master/profile/*
shell/alternative_cassis/profile/*
shell/2.5Cassis/*
shell/bluemoon/*
shell/Bridal_Butterfly_75/*
shell/Bridal_Butterfly_100/*
shell/bunny/*
shell/cassis_p/*
shell/E_black/*
shell/fly_high/*
shell/gemini/*
shell/gothic/*
shell/lapis_lazuli/*
shell/like_a_cat/*
shell/ll29yo/*
shell/luna_cat/*
shell/magical_cassis/*
shell/magnifier/*
shell/master_rabbit/*
shell/moon_white/*
shell/moonlight_blue/*
shell/Pink Moon/*
shell/purewhite/*
shell/sakurafubuki/*
shell/sakurafubuki_old/*
shell/silver/*
shell/Sputnik/*
shell/summer/*
shell/summer_sky/*
shell/usp/*
shell/w_d_a/*
shell/wanderer_rabbit/*
shell/white_lolita/*
shell/white_lolita_2/*
shell/glaucus/*
shell/winter_fall/*
shell/adulty
shell/titania